# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.idea/

# Secret files
main/NeuroTech Industry IL 2024.xlsx
main/not_neurotech.xlsx
main/new_companies.xlsx
main/updated_companies.xlsx
main/companies_with_career.xlsx

# Environment variables
.env

# Other ignores
*.log
