# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.idea/

# Secret files
main/main_db.xlsx
main/not_neurotech_db.xlsx
main/new_compnies.xlsx
main/updated_companies.xlsx

# Environment variables
.env


# Other ignores
*.log