# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.idea/

# Secret files
data
jan25
notebook.ipynb

# Environment variables
.env

# Other ignores
*.log
